.container{
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 20%;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(98 98 98);
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 75%;
    background-color: azure;
    color: black;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    left: 12.5%;
}

input:focus{
    background-color: ;

}

input[type=submit]:hover{
    background-color: rgb(250, 75, 250);;

}